@font-face {
	font-family: "pixel";
	src: url("pixel.woff") format("woff");
	font-size: 1900;
	font-weight: bold;
}
@font-face {
	font-family: "pixel";
	src: url("pixel.woff2") format("woff2");
	font-size: 900;
	font-weight: bold;
}